/* sidebar.css */
.sidebar {
    transition: width 0.3s ease;
    width: 250px; /* Default width when expanded */
    position: fixed; /* Make sure sidebar is fixed */
    height: 100%;
    z-index: 1000;
    background-color: #343a40; /* Ensure background color is set */
}

.sidebar.collapsed {
    width: 80px; /* Width when collapsed */
}

.sidebar .sidebar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #343a40; /* Ensure background color is set */
}

.sidebar .sidebar-logo .logo img {
    width: 100%;
}

.sidebar.collapsed .sidebar-content,
.sidebar.collapsed .sidebar-logo .logo img {
    display: none;
}

.sidebar.collapsed .sidebar-logo .btn-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.nav-toggle .gg-menu-left,
.nav-toggle .gg-menu-right {
    cursor: pointer;
}

.sidebar .nav-item .sub-item {
    display: inline-block;
}

.sidebar.collapsed .nav-item .sub-item {
    display: none;
}

.sidebar .nav-item i {
    display: inline-block;
    font-size: 24px; /* Adjust icon size if needed */
    margin-right: 10px;
}

.sidebar.collapsed .nav-item i {
    margin-right: 0;
}

/* Additional styles to ensure proper display of icons */
.sidebar.collapsed .nav-item {
    display: flex;
    justify-content: center;
}

/* Media queries for responsiveness */
/* Mobile devices (phones, less than 768px) */
@media (max-width: 767px) {
    .sidebar {
        width: 80px; /* Initially collapsed */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
    }

    .sidebar.expanded {
        width: 250px; /* Expanded width for mobile */
    }

    .sidebar .sidebar-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar .sidebar-logo .logo img {
        display: block;
    }

    .sidebar .sidebar-content {
        display: none;
    }

    .sidebar.expanded .sidebar-content {
        display: block;
    }

    .sidebar.expanded .sidebar-logo .btn-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Tablets (768px and above) */
@media (min-width: 768px) and (max-width: 1024px) {
    .sidebar {
        width: 200px;
    }

    .sidebar.collapsed {
        width: 60px;
    }
}

/* Desktops (1025px and above) */
@media (min-width: 500px) {
    .sidebar {
        width: 250px;
    }

    .sidebar.collapsed {
        width: 80px;
    }
}
